In [3]:
import re

Question 1

In [4]:
string = 'Python Exercises, PHP exercises.'

In [5]:
x =re.sub("[., ]",':',string)

In [6]:
print(x)

Python:Exercises::PHP:exercises:

Question 2

In [7]:
import pandas as pd
import regex as re

In [8]:
dictionary ={'SUMMARY':['hello, world!','XXXXX test','123four,five:;six...']}

In [9]:
dictionary

{'SUMMARY': ['hello, world!', 'XXXXX test', '123four,five:;six...']}

In [10]:
df = pd.DataFrame(dictionary)

In [11]:
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)

In [12]:
print(df['SUMMARY'])

0    hello world
1     XXXXX test
2    fourfivesix
Name: SUMMARY, dtype: object

Question 3

In [13]:
example_str ='MS Dhoni is the best captain that India has ever produced'

In [14]:
str_pattern = r"\b\w{4,}\b"

In [15]:
pattern = re.compile(str_pattern)

In [16]:
x = pattern.findall(example_str)

In [17]:
print(x)

['Dhoni', 'best', 'captain', 'that', 'India', 'ever', 'produced']

Question 4

In [18]:
str = 'Virat Kohli is the only player to have an average of 50 in all formats'

In [19]:
str_pattern = r"\b\w{3,5}\b"

In [20]:
pattern = re.compile(str_pattern)

In [21]:
x = pattern.findall(str)

In [22]:
print(x)

['Virat', 'Kohli', 'the', 'only', 'have', 'all']

Question 6

In [24]:
with open('C:\\Users\\LUCIFER\\Downloads\\Sample.txt', 'r') as file:
  text = file.read()

In [25]:
new_text = re.sub(r"\s*\([^)]*\)", "", text)

In [26]:
print(new_text)

["example","hr@fliprobo","github","Hello","Data"]

Question 7

In [27]:
sample_text="ImportanceOfRegularExpressionsInPython"

In [28]:
x = re.findall("[A-Z][^A-Z]*",sample_text)

In [29]:
print(x)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8

In [30]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

In [31]:
pattern = r'(\d+)([A-Za-z]+)'
x = re.sub(pattern, r" \1\2", sample_text)

In [32]:
print(x)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9

In [33]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

In [34]:
pattern = r'(\d+)([A-Za-z]+)'
x = re.sub(pattern, r" \1 \2", sample_text)

In [35]:
print(x)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10

In [36]:
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"

In [37]:
d = pd.read_csv(url)

In [38]:
df = pd.DataFrame(d)

In [39]:
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])

In [40]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Question 11

In [41]:
String = "INDIA has the largest_population in the world summing to the amount_of 140.76 CRORES"

In [42]:
x = re.findall("\w+",String)

In [43]:
print(x)

['INDIA', 'has', 'the', 'largest_population', 'in', 'the', 'world', 'summing', 'to', 'the', 'amount_of', '140', '76', 'CRORES']

Question 12

In [44]:
string = "456 Hello 123 World"

In [45]:
number = "123"

In [46]:
x = re.match(number,string)

In [47]:
print(x)

None

In [48]:
number = "456"

In [49]:
x = re.match(number,string)

In [50]:
print(x)

<regex.Match object; span=(0, 3), match='456'>

Question 13

In [51]:
Ip = "192.0000168.0001.1"

In [52]:
x = re.sub("\.[0]*",".",Ip)

In [53]:
print(x)

192.168.1.1

Question 14

In [54]:
with open('C:\\Users\\LUCIFER\\Downloads\\Sample1.txt', 'r') as file:
  text = file.read()

In [55]:
text

'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'

In [56]:
pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"

In [57]:
new_text = re.findall(pattern, text)

In [58]:
print(new_text)

['August 15th 1947']

Question 15

In [59]:
Sample_text = 'The quick brown fox jumps over the lazy dog.'

In [60]:
pattern = ['fox','dog','horse']

In [61]:
for pattern in pattern:
    print('Searching for "%s" in "%s" ->' % (pattern, Sample_text),)
    if re.search(pattern,  Sample_text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

Question 16

In [62]:
text = 'The quick brown fox jumps over the lazy dog.'

In [63]:
pattern = 'fox'

In [64]:
match = re.search(pattern, text)
a = match.start()
b = match.end()

In [65]:
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, a, b))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

Question 17

In [66]:
text = 'Python exercises, PHP exercises, C# exercises'

In [67]:
pattern = 'exercises'

In [68]:
x = re.findall(pattern, text)

In [69]:
print(x)

['exercises', 'exercises', 'exercises']

Question 18

In [70]:
text = 'Python exercises, PHP exercises, C# exercises'

In [71]:
pattern = 'exercises'

In [72]:
for match in re.finditer(pattern, text):
    a = match.start()
    b = match.end()
    print('Found "%s" at %d:%d' % (text[a:b], a, b))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

Question 19

In [73]:
import datetime

date = datetime.date.today()
print(date)

newdate = date.strftime("%d-%m-%Y")
print(newdate)

2024-02-05
05-02-2024

Question 20

In [74]:
sample_Text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [75]:
str_pattern = '\d+.\d{1,2}'

In [76]:
pattern = re.compile(str_pattern)

In [77]:
x = re.findall(pattern,sample_Text)

In [78]:
print(x)

['01.12', '0132.12', '3 2', '31875 14', '5.8', '3.01', '27.25', '0.25']

Question 21

In [79]:
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [108]:
result = re.finditer("\d+",text)

In [109]:
for x in result:
    print(x)
    print(x.group())

<regex.Match object; span=(62, 64), match='50'>
50

Question 22

In [129]:
text = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"

In [145]:
x= re.findall("\d+",text)

In [167]:
max = max(x)

TypeError: 'str' object is not callable

In [168]:
max

'950'

Question 23

In [148]:
Str = "RegularExpressionIsAnImportantTopicInPython"

In [152]:
pattern = r"([A-Z]+)"

In [164]:
x = re.sub(pattern, " \\1", Str)

In [165]:
print(x)

 Regular Expression Is An Important Topic In Python

Question 24

In [169]:
Str = "This is the Leap year"

In [173]:
pattern = '[A-Z]+[a-z]+'

In [174]:
x = re.findall(pattern,Str)

In [175]:
print(x)

['This', 'Leap']

Question 25

In [176]:
text = "Hello hello world world"

In [177]:
pattern = r'\b(\w+)(\s+\1\b)+'

In [186]:
x = re.sub(pattern, r'\1', text)

In [187]:
print(x)

Hello hello world

Question 29

In [213]:
with open('C:\\Users\\LUCIFER\\Downloads\\Sample2.txt', 'r') as file:
  text = file.read()

In [214]:
pattern = "\d{2}-\d{2}-\d{4}"

In [215]:
x = re.findall(pattern, text)

In [216]:
x

['12-09-1992', '15-12-1999']

Question 30

In [217]:
Text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [227]:
str_pattern = r"\b\w{2,4}\b"

In [228]:
pattern = re.compile(str_pattern)

In [229]:
x = re.sub(pattern,"",Text)

In [230]:
x

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'